<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665390345056-0ugbhnkpa928gt88im41u4ekh6h5gpjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665390345056-0ugbhnkpa928gt88im41u4ekh6h5gpjd</string>
	<key>API_KEY</key>
	<string>AIzaSyDLplSTsriY61aLbKZe7-_lFdANSWsvTW8</string>
	<key>GCM_SENDER_ID</key>
	<string>665390345056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracely.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tracely-f42f5</string>
	<key>STORAGE_BUCKET</key>
	<string>tracely-f42f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665390345056:ios:b414c69eaf1c9e3645cc05</string>
</dict>
</plist>